.body {
  width: 100%;
  height: auto;
  font-family: 'Lato', 'Montserrat', sans-serif;
  background: #E5E5E5;
}
.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}