@mixin displayFlex {
  display: flex;
  justify-content:space-around;
}
@mixin width {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
}
@mixin fontAttr($fontSize, $fontWeight, $lineHeight, $fontColor, $textTransform) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $fontColor;
  text-transform: $textTransform;
}