@import '../mixins';
@import '../variables';

.product-desc__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

  h3 {
    @include fontAttr(32px, 700, 38px, #8d81ac, none);
    text-align: center;
    margin-bottom: 36px;
  }
}

.product-desc__cards-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-desc__item-text {
  h4 {
    @include fontAttr(16px, 400, 1, #323232, none);
    text-align: center;
    margin-top: 20px;
  }

  p {
    @include fontAttr(14px, 400, 21px, #848e97, none);
    font-family: $fontLato;
    text-align: center;
    margin: 14px 0 40px;
  }
}

.product-desc__screenshot {
  height: 385px;
  width: 100%;
  position: relative;
}

.product-desc__screenshot::after {
  content: '';
  height: 385px;
  width: 100vw;
  position: absolute;
  left: -10px;
  top: 0;
  background-image: url(dist/img/product-desc-screenshot-320.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: $tablet) {
  .product-desc__cards-item {
    display: grid;
    grid-template-columns: 111px 4fr;
    grid-column-gap: 20px;
    width: 100%;

    .product-desc__icon {
      text-align: center;
    }
  }

  .product-desc__cards-item + .product-desc__cards-item {
    margin-top: 60px;
  }

  .product-desc__item-text {
    h4 {
      text-align: left;
      margin-top: 0;
    }

    p {
      text-align: left;
      margin: 0;
    }
  }

  .product-desc__screenshot {
    height: 519px;
  }

  .product-desc__screenshot::after {
    height: 519px;
    background-image: url(dist/img/product-desc-screenshot-768.png);
  }
}

@media (min-width: $desktop) {
  .product-desc {
    background-color: #f4f4f4;
    padding: 95px 0 33px;
  }

  .product-desc__wrap {
    display: grid;
    grid-column-gap: 85px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    h3 {
      font-size: 42px;
    }
  }

  .product-desc__cards {
    order: 0;
    grid-row: 1 / span 2;
  }
}
